.git
.github
.idea
.mysql
.redis
.env
.env.*
src/.env
src/.env.*
!src/.env.example
src/storage/logs/*
src/storage/app/telegram/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/database/*.sqlite
src/vendor
src/node_modules
src/public/build
node_modules
vendor
npm-debug.log
yarn-error.log
